.image {
    width: 48px;
    height: 48px;
    margin-right: 18px;
}

.title, .rowBold {
    font-weight: 500;
    color: #161919;
}

.rowCategory {
    color: #B2B3B9;
    font-weight: 500;
}

.sameCols {
    width: 16%;
}